{% extends "base.html" %}

{% block title %}Create Account | {{ site_name }}{% endblock %}

{% block body %}
  {% include "accounts/includes/_auth_card.html" with auth_title="Create Account" auth_subtitle="Join AI Shipping Labs and start building" form_template="accounts/includes/_register_form.html" oauth_action="Sign up" oauth_divider_text="sign up with" legal_action="creating an account" %}
{% endblock %}

{% block extra_scripts %}
<script src="/static/js/accounts/auth-helpers.js"></script>
{{ next_url|json_script:"auth-next-url" }}
<script src="/static/js/accounts/inline-register.js"></script>
{% endblock %}
